@import "/home/alokinho/.cache/wal/colors-waybar.css";

* {
  font-family: "SF Pro Display", "Iosevka Nerd Font", monospace; 
  font-size: 16px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  /* background: @background; */
  background: transparent;
  border-radius: 0px;
  padding: 30px 25px; /* ← this controls THICCness */
  margin: 0px;
  color: @foreground;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#clock,
#battery,
#network,
#backlight,
#pulseaudio,
#custom-logo,
#window,
#workspaces {
  padding: 0 10px; /* horizontal breathing room */
  color: @foreground;
}

#window {
  font-size: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
}
